@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
button,
section,
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
  @apply bg-inherit;
}

.screen-center {
  @apply max-w-[1440px] w-[90%] mx-auto;
}

.h2 {
  @apply text-[30px] md:text-[45px] lg:text-[55px];
}
.h4 {
  @apply text-[20px] md:text-[28px] lg:text-[32px]  lg:leading-[53px];
}
.h5 {
  @apply text-base md:text-xl lg:text-2xl;
}
.p {
  @apply text-base lg:text-lg;
}
.p-small {
  @apply text-sm md:text-[14px] leading-[19px] lg:text-base;
}
.custom_border {
  @apply rounded-[20px] md:rounded-[40px] xl:rounded-[60px] border-[0.5px] border-black;
}
/* global styles  */

.background {
  background-image: url("/Images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}
.slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider::before,
.slider::after {
  content: "";
  height: auto;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
@media only screen and (max-width: 600px) {
  .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
}

.slide {
  height: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}

/* design styles  */
.one_bg {
  background-color: #f1fec5;
}

.one_border {
  border-color: #83a903;
}

.two_bg {
  background-color: #b9f5e5;
}

.two_border {
  border-color: #00c08d;
}

.three_bg {
  background-color: #d0fdff;
}

.three_border {
  border-color: #03c7d1;
}

.four_bg {
  background-color: #d3fbc7;
}

.four_border {
  border-color: #104400;
}

.five_bg {
  background-color: #bbfcff;
}

.five_border {
  border-color: #00bfc7;
}

.six_bg {
  background-color: #ffddf4;
}

.six_border {
  border-color: #ff77d4;
}
/* design styles  */

.testimonial-container {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;
}
.icon_circle {
  @apply w-[20px] h-[20px] p-1 md:p-2 md:w-[40px] md:h-[40px] flex items-center justify-center rounded-full border;
}

/* over-view styles  */

.unordered {
  list-style: none;
}
/* snappy  */
.snappy_bullet li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #21b44a; /* Change the color */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* libraria  */
.libraria_bullet li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #183a1d; /* Change the color */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* classic park  */
.classic_bullet li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #0157ff; /* Change the color */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* flet park  */
.flet_bullet li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #2a00ac; /* Change the color */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
/* over-view styles  */
.grid_box {
  display: grid;

  @apply place-items-start justify-items-start gap-x-1 grid-cols-[20px,1fr] md:grid-cols-[40px,1fr];
}
.swiper {
  width: 100%;
  /* height: auto; */
  height: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
