@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
button,
section,
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
  @apply bg-inherit;
}

.screen-center {
  @apply max-w-[1440px] w-[90%] mx-auto;
}

.h2 {
  @apply text-[30px] md:text-[50px] lg:text-[60px] 2xl:text-[80px];
}
.h4 {
  @apply text-[20px] md:text-[30px] lg:text-[40px] 2xl:text-[50px];
}
.p {
  @apply text-base md:text-xl lg:text-xl 2xl:text-2xl;
}
.p-small {
  @apply text-sm md:text-base lg:text-xl 2xl:text-xl;
}

.background {
  background-image: url("/Images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}
.slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider::before,
.slider::after {
  content: "";
  height: auto;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.one_bg {
  background-color: #f1fec5;
}

.one_border {
  border-color: #83a903;
}

.two_bg {
  background-color: #b9f5e5;
}

.two_border {
  border-color: #00c08d;
}

.three_bg {
  background-color: #d0fdff;
}

.three_border {
  border-color: #03c7d1;
}

.four_bg {
  background-color: #d3fbc7;
}

.four_border {
  border-color: #104400;
}

.five_bg {
  background-color: #bbfcff;
}

.five_border {
  border-color: #00bfc7;
}

.six_bg {
  background-color: #ffddf4;
}

.six_border {
  border-color: #ff77d4;
}
.testimonial-container {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;
}
